body{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: cursive;
}  

.tooltip{
	position: relative;
	cursor: pointer;
}

.tooltip:hover .tooltip_element{
	filter: brightness(1.5);
}


.tooltip:hover .tooltip_info{
	display: block;
}

.cell_station_header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #000;
  background-color: grey;
}

.tooltip_info{
  display: none;
  position: absolute;
  padding: 4px 10px;
  background-color: blue;
  text-align: center;
  z-index: 1;
}

.cell_station_header::before{
  content: '';
  position: absolute;
  left: -10px;
  right: -5px;
  top: -5px;
  bottom: -5px;
}

.cell_station_header::after{
  content: '';
  position: absolute;
  border: 0 solid transparent;
}

.tooltip_right .tooltip_info{
  top: 50%;
  transform: translate(0,-50%);
  margin-left: 33px; 
}

.tooltip_right .tooltip_info::after{
  top: 50%;
  transform: translate(0,-50%);
  right: 100%;
  border-width: 5px 5px 5px 0;
  border-right-color: blue;
}