*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 72px;
    font-family: sans-serif;
    color: black;
}